RewriteEngine On

# Home
RewriteRule ^$ index.php [L]

# Pages
RewriteRule ^about-us/?$ about-us.php [L]
RewriteRule ^podcast/?$ podcast.php [L]
RewriteRule ^contact/?$ contact.php [L]
RewriteRule ^team/?$ team.php [L]
RewriteRule ^gallery/?$ gallery.php [L]
RewriteRule ^blogs/?$ blogs.php [L]

# Redirect /home → /
RewriteRule ^home/?$ ./ [R=301,L]
