RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^about-us?$ about-us.php [L]
RewriteRule ^podcast?$ podcast.php [L]
RewriteRule ^contact?$ contact.php [L]
RewriteRule ^home?$ index.php [QSA,L]